<section class="card">
    <div class="card-body">
        <h1>About</h1>
        
        <p>Hola! Soy Alexis  Perez y estoy aprendiendo desarrollo web.</p>
        <p>Saludos.</p>
    </div>
    
</section>