<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci assumenda fuga. Voluptatem earum exercitationem eligendi porro ullam voluptas delectus?</p>
    </div>
    
</section>