<div class="jumbotron">
    <h1 class="display-4 text-center">Notes App</h1>
    <p class="lead  text-center">Bienvenido a la aplicacion de Notas.</p>
    <hr class="my-4">

    <div class="container">
        <div class="container">
            <p class="">Esta app permite agregar notas, editar y eliminar.</p>
            <a href="/notes/add" class="btn btn-primary btn-lg">Crear una nota</a>
        </div>
    </div>

</div>