<div class="jumbotron">
    <h1 class="display-4 text-center">Notes App</h1>
    <p class="lead  text-center">Bienvenido a la aplicacion de Notas.</p>

    <hr class="my-4">

    <div class="container">
        <div class="container">
            <p class="">Esta app permite agregar notas, editar y eliminar.</p>
            {{#if user}}
            <a href="/notes/add" class="btn btn-primary btn-lg my-3">Crear una nota</a>
            {{else}}
            <a href="/users/signup" class="btn btn-primary btn-lg my-3">Registrarse</a>
            <a href="/users/signin" class="btn btn-secondary btn-lg my-3">Iniciar sesión</a>
            {{/if}}
        </div>
    </div>

    <hr class="my-4">

    <div class="container">
        <a href="https://github.com/alexisperez4/NotesApp" target="_blank">
            <h3>Ver repositorio en github</h3>
        </a>
        <a href="https://github.com/alexisperez4/NotesApp" target="_blank">https://github.com/alexisperez4/NotesApp</a>
    </div>
</div>