<div class="jumbotron">
    <h1 class="display-4">Notes App Nodejs and PostgreSQL</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque illo facilis, saepe quia cupiditate aliquid neque doloribus minus ipsum expedita.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quisquam architecto illum facere maiores voluptatum dolores error quod inventore debitis accusantium aliquam, voluptas assumenda asperiores.</p>
    <a href="/" class="btn btn-primary btn-lg">Bienvenido</a>
</div>

