<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Iniciar Sesión
            </div>
            <i class="fas fa-user fa-7x mx-auto d-block m-4"></i>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group ">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <p class="font-italic"></p>
                        <p class="text-muted">
                            Soy nuevo.  <a href="/users/signup" class="text-reset">Registrarme</a>.
                        </p>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Signin
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>